{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sing_in_window</title>
    <link rel="stylesheet" href="{% static 'sing_up_in/css/sing_up_in.css' %}">
</head>
<body>
    <div class="container">
        <img src="{% static 'sing_up_in/img/logo.png' %}" alt="">
        <p>Welcome back, buddy</p>
        <form>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
          </form>
        <p>
            <a href="{% url 'sing_up_in' %}">Sing up</a>
        </p>   
        <a href="{% url 'add_task' %}" class="signup-button">Sign in</a>
    </div>
</body>
</html>