{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Додати підзавдання</title>
    <link rel="stylesheet" href="{% static 'main_work_window/css/add_subtask.css' %}">
</head>
<body>
    <aside class="sidebar">
        <img src="{% static 'main_work_window/img/logo.png' %}" alt="Logo" class="sidebar-logo">
        <a href="#" class="menu-link">News</a>
        <a href="#" class="menu-link">Team</a>
        <a href="#" class="menu-link">Saved</a>
        <a href="#" class="menu-link">Tasks</a>

        <div class="task-input-section">
            <input type="text" class="task-input" placeholder="Введіть завдання">
            <a href="{% url 'add_task' %}" class="add-task-button">Додати Завдання</a>
        </div>

        <div class="task-titles">
            {% for task in tasks %}
                <div data-task-id="{{ task.id }}">
                    <a href="{% url 'task_detail' task.id %}" class="task-link">{{ task.title }}</a>
                    <form method="post" action="{% url 'delete_task' task.id %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="delete-button">Видалити</button>
                    </form>
                </div>
            {% empty %}
                <p>Немає доступних завдань</p>
            {% endfor %}
        </div>
    </aside>

    <div class="form-container">
        <form method="post" enctype="multipart/form-data" class="task-form">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.task_description }}<br>
            {{ form.collaborators }}<br>
            {{ form.status }}<br>
            {{ form.priority }}<br>
            {{ form.budget }}<br>
            {{ form.attachments }}<br>
            {{ form.dead_line }}<br>
            <span style="color: red;">{{ error }}</span>
            <button type="submit">Додати підзавдання</button>
            <a href="{% url 'task_detail' task.id %}" class="back-button">Назад до деталей завдання</a>
        </form>
    </div>
</body>
</html>
