{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main_work_window/css/news.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.6.0/css/all.css">
    <title>News</title>
</head>
<body>

    <div class="comment-list">
        {% for comment in comments %}
            <p>{{ comment.text }}</p>
        {% empty %}
            <p>Коментарів ще немає</p>
        {% endfor %}
    </div>

    <div class="comment-section">
        <form method="post" action="{% url 'news' %}">
            {% csrf_token %}
            <div class="comment-input">
                {{ form.text }}
            </div>
            <button type="submit" class="submit-comment">Зберегти коментар</button>
        </form>
    </div>

    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <p>Ви впевнені, що хочете видалити <span id="taskName"></span>?</p>
            <button id="confirmDelete" class="modal-button confirm">Так</button>
            <button id="cancelDelete" class="modal-button cancel">Ні</button>
        </div>
    </div>    

    <aside class="sidebar">
        <img src="{% static 'main_work_window/img/logo.png' %}" alt="Logo"  class="sidebar-logo">
        <a href="{% url 'news' %}" class="menu-link">News <i class="fa-solid fa-newspaper"></i></a>
        <a href="#" class="menu-link">Team <i class="fa-solid fa-people-group"></i></a>
        <a href="#" class="menu-link">Saved <i class="fa-solid fa-bookmark"></i></a>
        <a href="#" class="menu-link">Tasks <i class="fa-solid fa-list-check"></i></a>

        <div class="task-input-section">
            <input type="text" class="task-input" placeholder="Введіть завдання">
            <a href="{% url 'add_task' %}" class="add-task-button">Додати Завдання</a>
        </div>

        <div class="task-titles">
            {% for task in tasks %}
                <div  data-task-id="{{ task.id }}">
                    <a href="{% url 'task_detail' task.id %}" class="task-link">{{ task.title }}</a>
                    <form method="post" action="{% url 'delete_task' task.id %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="button" class="delete-button" onclick="confirmDeletion('{{ task.title }}', this)">Видалити</button>
                    </form>                                    
                </div>
            {% empty %}
                <p>Немає доступних завдань</p>
            {% endfor %}
        </div>
    </aside>

    <script src="{% static 'main_work_window/js/task_detail.js' %}"></script>
</body>
</html>