body {
    margin: 0;
    background-color: #1b7bd0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    background: linear-gradient(135deg, rgb(12, 142, 217) 0%, rgb(9, 188, 120) 100%);
    padding: 30px;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-right: 4px solid #002147;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
}

.sidebar-logo {
    width: 100px; 
    margin-bottom: 10px; 
}

.menu-link {
    color: black; 
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid darkblue; 
    border-radius: 5px;
    font-size: 18px;
    background-color: white; 
    text-align: center;
    width: 100%; 
    box-sizing: border-box;
}

.menu-link:hover {
    background-color: lightblue;
}

.task-input-section {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 116%;
    box-sizing: border-box;
    padding-left: 5px;
}

.task-input {
    padding: 5px;
    border: 2px solid #002147;
    border-radius: 5px;
    width: calc(100% - 90px);
    box-sizing: border-box;
}

.add-task-button {
    padding: 5px 10px;
    border: 3px solid darkblue;
    border-radius: 5px;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 80px;
    box-sizing: border-box;
    font-size: 16px;
    cursor: pointer;
}

.add-task-button:hover {
    background-color: lightblue;
}

.task-titles {
    overflow-y: auto;
    max-height: calc(100vh - 250px);
    width: 100%;
    box-sizing: border-box;
}

.task-link {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 0px;
    display: block;
    transition: color 0.3s ease, background-color 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-titles > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.task-link:hover {
    color: rgb(255, 255, 255);
    background: linear-gradient(135deg, #0c8ed9, #09bc78);
    border-radius: 5px;
}

.delete-button {
    background-color: white;
    color: black;
    margin-top: 5px;
    margin-right: 5px;
    padding: 5px 0px;
    border: 3px solid darkblue;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    width: 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.delete-button:hover {
    color: rgb(255, 255, 255);
    background: linear-gradient(135deg, #0c8ed9, #09bc78);
    border-radius: 5px;
}

.form-container {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    flex: 1; 
    padding: 20px; 
    box-sizing: border-box;
    margin-left: 200px; 
}

.task-details-container {
    margin-top: 40px; 
}

.task-details {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    text-align: center;
}

.task-labels, .task-values {
    display: contents; 
    gap: 20px;
    justify-content: start;
    flex-wrap: nowrap;
}

.task-detail, .task-value {
    width: 130px;
    padding: 8px;
    background-color: white;
    border: 2px solid #002147;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-value.empty {
    visibility: hidden;
}

.delete-subtask-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    font-size: 16px;
}

.task-title {
    position: absolute;
    top: 40px;
    left: 280px;
    font-size: 32px;
    font-weight: bold;
    color: #002147;
}

.task-details-background {
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #e6f2ff;
    border-radius: 5px;
    border: 3px solid #002147;
    max-width: 1100px;
    text-align: center;
}

.attachment-emoji {
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.add-subtask-button {
    position: absolute;
    padding: 5px 10px;
    border: 3px solid darkblue;
    border-radius: 5px;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 46px;
    margin-left: 1058px;
}

.add-subtask-button:hover {
    background-color: lightblue;
}

html {
    scroll-behavior: smooth;
}

.task-titles::-webkit-scrollbar {
    width: 10px;
}

.task-titles::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.task-titles::-webkit-scrollbar-thumb {
    background: #2158cf;
    border-radius: 10px;
}
